<html>
<head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="author" content="order by dede58.com"><title>Car-后台管理员系统</title>
        <link rel="stylesheet" href="/assets/manager-css/inputimg.css">
        
        <link rel="stylesheet" href="/assets/manager-css/jquery.wysiwyg.old-school.css">
        <!-- jQuery AND jQueryUI -->
        <script type="text/javascript" src="/assets/manager-js/jquery.min.js"></script>
        <script src="http://libs.baidu.com/jqueryui/1.9.0/jquery-ui.min.js "></script>
        <script type="text/javascript" src="/assets/manager-js/min.js"></script>
        <!--<script type="text/javascript" src="js/index.js"></script>-->
        <script type="text/javascript" src="/assets/manager-js/main.js"></script>
        <link rel="stylesheet" href="/assets/manager-css/style2.css">
        </head>
        <body
         class="modal white">
        
        
        <!--     内容      -->
        <div id="content" class="white">
        <!--
        
        -->
        <div class="bloc">
                <div class="title">新增车辆<a class="toggle"></a><a href="#" class="toggle"></a></div>
                <div class="content" style="height: 290px; display: block;">
                        <form action="/addcars" method="post" enctype="multipart/form-data">
                                <p>车辆编号：<input type="text" name="CarId"/></p>
                                  <p>车辆品牌：<input type="text" name="CarName"/></p>
                                  <p>车辆型号：<input type="text" name="Carmodel"/></p>
                                  <p>车辆颜色：<input type="text" name="Carcolor"/></p>
                                  <p>车辆类型：<input type="text" name="Carstatus"/></p>
                                  <p>报　　价：<input type="text" name="CarPrice"/></p>
                                  <p>车辆图片:
                                        <a href="javascript:;" class="file">
                                                <input type="file" name="CarPic">
                                        </a>
                                </p>
                                  <br>
                        
                                <button type="submit">确认添加</button>
                                  
                        </form>
                        
                </div>
        </div>
        </div>
        <br>
        
        <div id="ui-datepicker-div" class="ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"></div>
        <br>
        
        </body>
        <script>
        
        </script>
        </html>
